* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #000;
    background: transparent;
}

html {
  scroll-behavior: smooth;
  background: #F9FFEC;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background: none;
  border: none;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem;
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
  line-height: 1;
}

img {
  max-width: 100%;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
}

.main {
  padding-top: 116px;
}

.header__top {
  padding: 10px 0;
}

.header__top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  margin-right: 70px;
}

.header__nav li a {
  color: #0033A0;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__nav li {
  margin: 0 30px;
}

.header__nav li:hover a {
 color: #fff;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
}

.langs {
  display: flex;

}

.langs p {
  color: #F7F7F7;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.header .langs hr {
  transform: rotate(180deg);
  height: auto;
  margin: 0 10px;
  background: #F6CB61;
  border: none;
  width: 2px;
}

.langs a {
  color: #0033A0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #81D8D0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header hr {
  background: #F6CB61;
  height: 7px;
  width: 100%;
  border: none;
}

.header__bot {
  position: absolute;
  left: 0;
  bottom: -283px;
  width: 100%;
  display: none;
  background: #81D8D0;
}

.header__bot .container {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 30px;
  
}

.header__left {
  width: 34%;
}

.header__right {
  width: 64%;
}

.header__left b {
  color: #0033A0;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 30px;
  display: block;
}

.header__left p {
  color: #0033A0;
  font-size: 20px;
  line-height: normal;
}

.header__right ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;
}

.main-title {
  color: #0033A0;
  font-size: 80px;
  font-weight: 500;
  line-height: normal;
}

.btn-white {
  border-radius: 30px;
  background: #FFF;
  backdrop-filter: blur(8.5px);
  height: 55px;
  padding: 10px 50px;
}

.btn-yellow {
  border-radius: 30px;
  background: #F6CB61;
  backdrop-filter: blur(8.5px);
  height: 55px;
  color: #2C4E9F;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.btn-yellow:hover {
  opacity: .7;
}

.breadcrumbs {
  display: flex;
  margin: 55px 0;
}

.breadcrumbs a {
  color: #0033A0;
  font-size: 20px;
  line-height: normal;
  margin-right: 7px;
}

.breadcrumbs a:hover {
  opacity: .6;
}

.breadcrumbs p {
  color: #0033A0;
  font-size: 20px;
  line-height: normal;
  margin-right: 7px;
}

.header__right ul li a {
  color: #0033A0;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.header__right ul li a:hover {
  color: #fff;
}

.banner {
  height: 740px;
  width: 100%;
  position: relative;
}

.banner__slider {
  height: 100%;
  position: relative;
}

.banner__slider .slick-track {
  height: 100%;
}

.banner__slider .slick-slide > div {
  height: 100%;
}

.banner__slider .slick-list {
  height: 100%;
}

.banner__slider .slick-dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.banner__slider .slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255, .5);
  margin: 15px 0;
  border-radius: 50%;
}

.banner__slider .slick-dots .slick-active button {
  background: rgb(245, 203, 97);
}

.banner__item {
  height: 100%;
}

.banner__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
}

.banner__info {
  min-width: 770px;
  width: 60%;
  padding: 50px 80px;
  border-radius: 10px;
  background: rgba(129, 216, 208, 0.50);
}

.banner__info b {
  display: block;
  color: #FFF;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  font-size: 100px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -20px;
}

.banner__info span {
  color: #0033A0;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  font-size: 65px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 23px;
  display: block;
}

.banner__info p {
  color: #F7F7F7;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
  font-size: 35px;
  font-weight: 400;
  line-height: normal;
}

.about {
  position: relative;
  min-height: 820px;
  padding: 80px 0 100px;
}

.about__bg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 15%;
}

.about__bg img {
  max-height: 650px;
}

.about__content {
  padding: 75px 0 60px;
  font-size: 25px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 20px;
  color: #000;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__item:nth-child(even) {
  width: 250px;
  text-align: center;
  margin-left: 55%;
}

.about__item b {
  color: #0033A0;
  font-size: 100px;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 12px;
}

.about__item span {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  max-width: 250px;
}

.about__btn {
  padding: 10px 80px;
}

.services__slider {
  height: 700px;
  width: 100%;
  margin-top: 50px;
}

.services__slider .slick-track {
  height: 100%;
}

.services__slider .slick-slide > div {
  height: 100%;
}

.services__item {
  position: relative;
  height: 100%;
}

.services__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.services__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.services__item .container {
  height: 100%;
  position: relative;
  max-height: 700px;
}

.services__slider .slick-list {
  height: 100%;
}

.services__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.services__slider .slick-arrow:hover {
  opacity: .7;
}

.services__slider .slick-arrow.slick-disabled {
  cursor: default;
}

.services__slider .slick-arrow.slick-disabled:hover {
  opacity: 1;
}

.services__info {
  position: absolute;
  bottom: 50px;
  left: 150px;
  display: flex;
  flex-direction: column;
}

.services__info b {
  color: #F7F7F7;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-bottom: 30px;
  max-width: 120px;
}

.services__info a {
  color: #F6CB61;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.team {
  padding: 100px 0;
  position: relative;
}

.team__bg {
  position: absolute;
  right: 0;
  top: 20%;
  z-index: -1;
}

.team__bg img {
  max-height: 700px;
}

.team__title {
  margin-bottom: 70px;
}

.team__item1 img {
  max-width: 190px;
}

.team__slider1 {
  margin-bottom: 80px;
}

.team__slider1 .slick-slide {
  min-height:  240px;
}

.team__slider1 .slick-slide > div {
  min-height: 240px;
}

.team__item1 {
  min-height: 240px;
  display: flex;
  align-items: center;
}

.team__title2 {
  margin-bottom: 60px;
}

.team__slider2 {
  padding: 0 100px;
}

.team__slider2 .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.team__slider2 .arrowLeft {
  left: 0;
}

.team__slider2 .arrowRight {
  right: 0;
}

.team__slider2 .slick-arrow:hover {
  opacity: .7;
}

.team__slider2 .slick-arrow.slick-disabled {
  cursor: default;
}

.team__slider2 .slick-arrow.slick-disabled:hover {
  opacity: 1;
}

.team__slider2 .slick-slide {
  margin: 0 25px;
}

.team__item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__item2 img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 50%;
}

.team__item2 b {
  color: #0033A0;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  margin: 25px 0 20px;
}

.team__item2 p {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  max-width: 230px;
}

.consult {
  height: 820px;
  margin-bottom: 80px;
  position: relative;
  padding: 70px 0 90px;
}

.consult .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.consult__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.consult__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.consult__title {
  color: #F7F7F7;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.consult__content {
  display: flex;
  justify-content: space-between;
}

.consult__number {
  width: 47%;
  display: flex;
  justify-content: end;
  align-items: start;
  margin-top: -50px;
}

.consult__number b {
  color: #FFF;
  font-size: 200px;
  font-weight: 500;
  line-height: normal;
  display: block;
  line-height: 77%;
}

.consult__number p {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  display: block;
  max-width: 120px;
  padding-top: 80px;
}

.consult__form {
  width: 49%;
}

.consult__form input {
  border-radius: 30px;
  background: rgba(62, 182, 181, 0.30);
  backdrop-filter: blur(8.5px);
  width: 100%;
  margin-bottom: 25px;
  height: 55px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.consult__form input::placeholder {
  color: rgba(0, 51, 160, 0.70);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.consult__form button {
  width: 100%;
  display: block;
}

.materials {
  padding-bottom: 120px;
}

.materials__title {
  margin-bottom: 60px;
}

.materials__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.materials__item {
  width: 100%;
  height: 370px;
  position: relative;
}

.materials__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.materials__info {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 0 20px;
}

.materials__info p {
  color: #FFF;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  display: block;
  margin-bottom: 12px;
}

.materials__info a {
  color: #F6CB61;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.contacts {
  min-height: 620px;
  position: relative;
  padding: 80px 0;
}

.contacts__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.contacts__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contacts__info {
  width: 480px;
  border-radius: 10px;
  background: rgba(62, 182, 181, 0.30);
  backdrop-filter: blur(8.5px);
  padding: 50px 30px;
  text-align: center;
}

.contacts__title {
  color: #0033A0;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contacts__phone {
  display: block;
  margin-bottom: 20px;
  color: #0033A0;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

.contacts__phone:hover {
  color: #fff;
}

.contacts__info p {
  color: #0033A0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}

.contacts__socials {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.contacts__socials a {
  display: block;
  margin: 0 10px;
}

.footer {
  padding: 0px 0 35px;
  background: #9DCD96;
}

.footer hr {
  background: #F6CB61;
  height: 7px;
  width: 100%;
  border: none;
}

.footer .container {
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  width: 19%;
  min-width: 230px;
}

.footer__right   {
  width: 78%;
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer__logo img:hover {
  opacity: .7;
}

.footer__deskop a {
  color: #0033A0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
  display: block;
}

.footer__deskop a:hover {
  color: #fff;
}

.footer__nav {
  margin-bottom: 40px;
}

.footer__nav ul {
  display: flex;
  justify-content: space-between;
}

.footer__nav ul a {
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
}

.footer__nav ul a:hover {
  color: #F6CB61;
}

.footer__subnav {
  display: grid;
  grid-template-columns: 6fr 5fr;
}

.footer__subnav li {
  height: 40px;
}

.footer__subnav li a {
  color: #0033A0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.footer__subnav li a:hover {
  color: #fff;
}

.footer__bot {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.footer__bot p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-right: 60px;
  display: block;
}

.footer__bot a {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.footer__bot a:hover {
  color: #0033A0;
}

.about__banner {
  background: linear-gradient(180deg, rgba(249, 255, 236, 0.00) 0%, #F9FFEC 90%);
}

.company {
  margin-top: -30px;
}

.company__top {
  color: #000;
  font-size: 20px;
  line-height: normal;
  position: relative;
  z-index: 0;
  margin-bottom: 60px;
}

.company__bot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.company__left {
  width: 48%;
  color:#000;
  font-size: 20px;
  line-height: 120%;
}

.company__right {
  width: 48%;
  max-height: 540px;
}

.company__right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.devolopment__title {
  margin-bottom: 70px;
  text-align: end;
}

.devolopment__top {
  display: flex;
  justify-content: space-between;
}

.devolopment__left {
  width: 48%;
  max-height: 540px;
}

.devolopment__left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.devolopment__right {
  width: 48%;
  color: var(--1, #000);
  text-align: justify;
  font-size: 20px;
  line-height: 120%;
}

.development__bot {
  margin-top: 30px;
  margin-bottom: 100px;
}

.development__bot p {
  color:#000;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}

.alyans {
  margin: 100px 0 30px;
}

.alyans__title {
  margin-bottom: 20px;
}

.alyans__text {
  text-align: justify;
  font-size: 20px;
  line-height: 120%;
}

.licence {
  margin-bottom: 100px;
}

.licence__title {
  margin-bottom: 60px;
}

.licence__content {
  display: flex; 
  justify-content: space-between;
}

.licence__content p {
  text-align: center;
  font-size: 36px;
  line-height: normal;
  display: block;
  width: 31%;
}

.howork {
  position: relative;
  margin-bottom: 30px;
  min-height: 750px;
}

.howork__title {
  margin-bottom: 50px;
}

.howork__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: end;
}

.howork__bg img {
  max-width: 1130px;
  width: 75%;
  height: auto;
}

.howork__item {
  display: flex;
  width: 350px;  
  margin-bottom: 80px;
}

.howork__item:nth-child(2) {
  margin: 0 auto;
}

.howork__item b {
  color: #F6CB61;
  font-size: 200px;
  font-weight: 500;
  line-height: 75%;
}

.howork__item p {
  color:#2B2A28;
  font-size: 25px;
  font-weight: 400;
  line-height: normal;
}

.howork__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.about__team {
  padding: 80px 0 20px;
}

.new-banner {
  width: 100%;
  height: 540px;
  position: relative;
}

.new-banner__bg {
  width: 100%;
  height: 100%;
}

.new-banner__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-banner__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.new-banner__wrapper .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.new-banner__title {
  border-radius: 10px;
  background: rgba(129, 216, 208, 0.50);
  backdrop-filter: blur(8.5px);
  max-width: 570px;
  padding: 65px 50px;
  color: #F7F7F7;
  font-size: 70px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.new-banner__name {
  margin-bottom: 50px;
}

.new-banner__content p {
  text-align: justify;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 50px;
  display: block;
}

.burger {
  display: none;
  height: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.burger span {
  height: 2px;
  width: 30px;
  background: #fff; 
  transition: all 0.5s;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.burger span:nth-of-type(2) {
	top: calc(50% - 8px);
}

.burger span:nth-of-type(3) {
	top: calc(50% + 8px);
}

.burger.open span:nth-of-type(1) {
  display: none;
}
.burger.open span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.burger.open span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

.header__mobile {
  display: none;
  position: fixed;
  top: 110px;
  right: 0;
  width: 100%;
  height: calc(100% - 110px);
}

.header__mobile--wrapper {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
}

.header__mobile--content {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-width: 250px;
  background: #81D8D0;
  height: 100%;
  padding: 20px;
}

.footer__mobile {
  display: none;
}

@media (max-width: 1400px) {
  .container {
    max-width: 1190px;
  }
  .howork__items {
    margin-bottom: 35px;
  }
  .howork {
    min-height: 650px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 946px;
  }
  .header__nav {
    margin-right: 10px;
  }
  .header__nav li {
    margin: 0 12px;
  }
  .banner__info b {
    font-size: 85px;
  }
  .banner__info span {
    font-size: 55px;
  }
  .about {
    padding: 60px 0 80px;
  }
  .about__content {
    padding: 60px 0 50px;
  }
  .services__slider {
    height: 600px;
  }
  .main-title {
    font-size: 72px;
  }
  .team {
    padding: 80px 0;
  }
  .team__title {
    margin-bottom: 60px;
  }
  .team__slider2 {
    padding: 0 60px;
  }
  .team__item2 img {
    width: 220px;
    height: 220px;
  }
  .consult {
    margin-bottom: 60px;
    padding: 60px 0 80px;
  }
  .materials {
    padding-bottom: 100px;
  }
  .materials__title {
    margin-bottom: 50px;
  }
  .footer__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__nav {
    margin-bottom: 25px;
  }
  .footer__nav ul li {
    margin-bottom: 12px;
  }
  .footer__subnav li {
    height: auto;
  }
  .footer__subnav {
    grid-template-columns: 1fr 1fr;
    gap: 12px 30px ;
  }
  .development__bot {
    margin-bottom: 80px;
  }
  .alyans {
    margin: 80px 0 30px;
  }
  .licence {
    margin-bottom: 80px;
  }
  .howork__item {
    width: 310px;
  }
  .howork {
    min-height: 600px;
  }
  .new-banner {
    height: 490px;
  }
  .new-banner__title {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
  }
  .header__menu--desktop {
    display: none;
  }
  .burger {
    display: flex;
  }
  .header__bot {
    height: 0;
  }
  .header__mobile.open {
    display: block;
  }
  .header__nav ul {
    align-items: end;
    flex-direction: column;
  }
  .header__nav ul li {
    margin: 0 0 15px;
  }
  .banner__info b {
    font-size: 75px;
  }
  .banner__info span {
    font-size: 50px;
  }
  .banner__info  {
    min-width: 500px;
    width: 75%;
    padding: 20px 30px;
  }
  .banner {
    height: 670px;
  }
  .main-title {
    font-size: 65px;
  }
  .services__slider {
    height: 550px;
  }
  .team {
    padding: 60px 0;
  }
  .team__title {
    margin-bottom: 50px;
  }
  .team__slider1 {
    margin-bottom: 60px;
  }
  .team__title2 {
    margin-bottom: 40px;
  }
  .consult__title {
    font-size: 35px;
  }
  .consult {
    height: 750px;
  }
  .consult__number b {
    font-size: 160px;
  }
  .consult__number p {
    padding-top: 50px;
  }
  .materials {
    padding-bottom: 80px;
  }
  .materials__title {
    margin-bottom: 40px;
  }
  .materials__item {
    height: 300px;
  }
  .contacts {
    padding: 65px 0;
  }
  .footer__nav ul {
    grid-template-columns: 1fr 1fr;
  }
  .footer__bot {
    margin-top: 25px;
  }
  .header__nav li a {
    font-size: 23px;
  }
  .company__top {
    margin-bottom: 40px;
  }
  .company__bot {
    margin-bottom: 50px;
  }
  .devolopment__title {
    margin-bottom: 50px;
  }
  .development__bot {
    margin-bottom: 60px;
  }
  .alyans {
    margin: 60px 0 30px;
  }
  .team.about__team {
    padding: 30px 0;
  }
  .licence__title {
    margin-bottom: 40px;
  }
  .licence__content p {
    font-size: 30px;
  }
  .licence {
    margin-bottom: 60px;
  }
  .howork__item {
    margin-bottom: 50px;
  }
  
  .howork__item b {
    font-size: 160px;
    
  }
  .howork__item:nth-child(2) {
    margin: 0 0 50px;
  }
  .howork__item {
    width: 250px;
  }
  .howork {
    min-height: 500px;
  }
  .new-banner__title {
    font-size: 50px;
  }
  .new-banner__content p {
    margin-bottom: 38px;
  }
  .new-banner__name {
    margin-bottom: 38px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .banner__info b {
    font-size: 60px;
  }
  .banner__info span {
    font-size: 45px;
  }
  .banner__info p {
    font-size: 30px;
  }
  .banner {
    height: 600px;
  }
  .about {
    padding: 40px 0 60px;
  }
  .about__content {
    padding: 50px 0 40px;
  }
  .main-title {
    font-size: 58px;
  }
  .services__slider {
    height: 470px;
  }
  .team {
    padding: 40px 0;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__slider1 {
    margin-bottom: 40px;
  }
  .consult {
    margin-bottom: 40px;
    padding: 35px 0 50px;
  }
  .consult__title {
    font-size: 32px;
  }
  .consult__content {
    flex-direction: column;
  }
  .consult__form input {
    margin-bottom: 15px;
  }
  .consult__number {
    width: 100%;
  }
  .consult__form {
    width: 100%;
  }
  .consult__number b {
    font-size: 130px;
  }
  .consult__number p {
    padding-top: 30px;
  }
  .consult__number {
    margin-bottom: 16px;
  }
  .materials {
    padding-bottom: 60px;
  }
  .materials__title {
    margin-bottom: 30px;
  }
  .materials__content {
    grid-template-columns: 1fr;
  }
  .contacts {
    padding: 50px 0;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer__right {
    width: 100%;
  }
  .company__bot {
    margin-bottom: 40px;
  }
  .devolopment__title {
    margin-bottom: 40px;
  }
  .development__bot {
    margin-bottom: 40px;
  }
  .alyans {
    margin: 40px 0 25px;
  }
  .licence {
    margin-bottom: 40px;
  }
  .howork__item {
    margin-bottom: 30px;
  }
  .company__bot {
    flex-direction: column;
  }
  .company__left {
    width: 100%;
    margin-bottom: 12px;
  }
  .company__right {
    width: 100%;
  }
  .devolopment__top {
    flex-direction: column-reverse;
  }
  .devolopment__left {
    width: 100%;
  }
  .devolopment__right {
    width: 100%;
    margin-bottom: 12px;
  }
  .about__banner {
    background: none;
  }
  .company {
    margin-top: 20px;
  }
  .licence__content {
    flex-direction: column;
  }
  .licence__content p {
    width: 100%;
    border-bottom: 1px solid #0033A0;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .new-banner__title {
    font-size: 40px;
  }
  .breadcrumbs {
    margin: 40px 0;
  }
}

@media (max-width: 576px) {
  html {
    overflow-x: hidden;
  }

  body {
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .banner__info b {
    font-size: 45px;
  }
  .banner__info span {
    font-size: 38px;
  }
  .banner__info {
    min-width: unset;
    width: 90%;
    margin: 0 auto;
  }
  .banner__slider .slick-dots {
    top: unset;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    display: flex;
  }
  .banner__slider .slick-dots li {
    margin: 0 6px;
  }
  .banner__info span {
    margin-bottom: 14px;
  }
  .about {
    padding: 30px 0 50px;
  }
  .about__content {
    padding: 36px 0 24px;
  }
  .about__content {
    font-size: 20px;
  }
  .main-title {
    font-size: 50px;
    line-height: 90%;
  }
  .services__slider {
    margin-top: 27px;
  }
  .services__slider {
    height: 430px;
  }
  .services__info b {
    max-width: unset;
    margin-bottom: 14px;
    text-align: center;
  }
  .services__info {
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
  }
  .team {
    padding: 26px 0;
  }
  .team__title {
    margin-bottom: 30px;
  }
  .team__slider1 {
    margin-bottom: 25px;
  }
  .team__title2 {
    margin-bottom: 20px;
  }
  .consult {
    margin-bottom: 25px;
  }
  .consult__title {
    font-size: 30px;
  }
  .consult {
    height: 800px;
  }
  .consult__number b {
    font-size: 100px;
  }
  .consult__number p {
    padding-top: 5px;
  }
  .materials {
    padding-bottom: 40px;
  }
  .materials__title {
    margin-bottom: 25px;
  }
  .contacts {
    padding: 40px 0;
    min-height: 530px;
  }
  .contacts__info {
    padding: 25px 15px;
    width: 90%;
    margin: 0 auto;
  }
  .company__bot {
    margin-bottom: 25px;
  }
  .devolopment__title {
    margin-bottom: 25px;
  }
  .development__bot {
    margin-bottom: 25px;
  }
  .alyans {
    margin: 25px 0 18px;
  }
  .licence__title {
    margin-bottom: 25px;
  }
  .licence {
    margin-bottom: 25px;
  }
  .howork__bg {
    display: none;
  }
  .howork__item b {
    font-size: 130px;
  }
  .howork__item {
    width: 100%;
    align-items: center;
  }
  .new-banner__title {
    font-size: 32px;
  }
  .new-banner {
    height: 370px;
  }
  .new-banner__title {
    padding: 40px 30px;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-width: 100px;
  }
  .header__mobile {
    top: 87px;
  }
  .main {
    padding-top: 90px;
  }
  .banner__info p {
    font-size: 25px;
  }
  .services__slider {
    height: 380px;
  }
  .services__slider .slick-arrow {
    top: 40%;
  }
  .team__item2 b {
    margin: 15px 0 10px;
  }
  .team__slider2 .slick-slide {
    margin: 0 15px;
  }
  .team__slider2 .slick-arrow {
    width: 30px;
    height: 30px;
  }
  .team__slider2 .slick-arrow svg{
    width: 100%;
  }
  .team__slider2 {
    padding: 0 25px;
  }
  .consult {
    padding: 35px 0 45px;
  }
  .consult__title {
    font-size: 27px;
  }
  .materials {
    padding-bottom: 26px;
  }
  .materials__item {
    height: 260px;
  }
  .contacts {
    padding: 30px 0;
  }
  .footer__deskop {
    display: none;
  }
  .footer__nav ul {
    grid-template-columns: 1fr;
  }
  .footer__subnav {
    grid-template-columns: 1fr;
  }
  .footer__left {
    justify-content: center;
  }
  .footer__bot {
    flex-direction: column;
  }
  .footer__nav ul li {
    text-align: center;
  }
  .footer__subnav li {
    text-align: center;
  }
  .footer__bot p {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .footer__mobile {
    display: flex;
    flex-direction: column;
  }
  .footer__mobile a {
    margin-bottom: 10px;
    color: #0033A0;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .main-title {
    font-size: 38px;
  }
  .howork__item b {
    font-size: 100px;
  }
  .new-banner__content p {
    margin-bottom: 26px;
  }
  .new-banner__name {
    margin-bottom: 26px;
  }
}

